<div class="dashboard-container">
  <h1>Applicatie overzicht</h1>
  <hr>
  <div class="application-pool">
    <app-application url="http://youtrack.fontys-project.nl" appName="YouTrack"></app-application>
    <app-application url="http://docs.rekeningrijden.fontys-project.nl" appName="Docs"></app-application>
    <app-application url="http://simulatie.rekeningrijden.fontys-project.nl" appName="Simulatiesysteem"></app-application>
    <app-application url="http://registratie.rekeningrijden.fontys-project.nl" appName="Registratiesysteem"></app-application>
    <app-application url="http://mijn.rekeningrijden.fontys-project.nl" appName="Bestuurders portal"></app-application>
    <app-application url="http://politie.rekeningrijden.fontys-project.nl" appName="Politie portal"></app-application>
    <app-application url="http://overheid.rekeningrijden.fontys-project.nl" appName="Overheid portal"></app-application>
  </div>
</div>

