<div class="dashboard-container">
  <h2>Applicatie overzicht</h2>
  <div class="application-pool">
    <app-application url="https://www.google.com" appName="Google"></app-application>
    <app-application url="https://www.facebook.com" appName="Facebook"></app-application>
    <app-application url="https://www.twitter.com" appName="Twitter"></app-application>
    <app-application url="https://www.linkedin.com" appName="LinkedIn"></app-application>
    <app-application url="https://www.tumblr.com" appName="Tumblr"></app-application>
    <app-application url="https://www.apple.com" appName="Apple"></app-application>
  </div>
</div>

