.dashboard-container {
    margin: 32px auto 0 auto;
    max-width: 1200px;

    .application-pool {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 16px;

        app-application {
            width: 25%;
        }
    }
}