<div class="dashboard-container">
  <h1>Applicatie overzicht</h1>
  <div class="application-pool mat-elevation-z1">
    <app-application url="http://youtrack.fontys-project.nl" appName="YouTrack" appColor="#9862fb"></app-application>
    <app-application url="http://docs.rekeningrijden.fontys-project.nl" appName="Docs" appColor="#3f51b5"></app-application>
    <app-application url="http://simulatie.rekeningrijden.fontys-project.nl" appName="Simulatiesysteem" appColor="#ff723c"></app-application>
    <app-application url="http://registratie.rekeningrijden.fontys-project.nl" appName="Registratiesysteem" appColor="#4fb210"></app-application>
    <app-application url="http://mijn.rekeningrijden.fontys-project.nl" appName="Bestuurders portal" appColor="#233dff"></app-application>
    <app-application url="http://politie.rekeningrijden.fontys-project.nl" appName="Politie portal" appColor="#004682"></app-application>
    <app-application url="http://overheid.rekeningrijden.fontys-project.nl" appName="Overheid portal" appColor="#01689b"></app-application>
  </div>
</div>
